

body{ 
                background="Backgroundimage1.jpg";
	        background-repeat: none;
	        background-size: 900px 900px;
		color: white; 
		text-align: center;
		font-family:'Orbitron', sans-serif;
	
	}

